.episodes-page__scroll-bar {
  position: fixed;
  z-index: 10;
}

.episodes-page__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.episodes-page__item {
  margin: 10px 15px;
}
